In [1]:
import pandas as pd

# Load the CSV files
df1 = pd.read_csv('datafile (1).csv')
df2 = pd.read_csv('datafile (2).csv')
df3 = pd.read_csv('datafile (3).csv')
df4 = pd.read_csv('datafile.csv')
df5 = pd.read_csv('produce.csv')

In [2]:
df1.head()
df2.head()
df3.head()
df4.head()
df5.head()

,Particulars,Frequency,Unit,3-1993,3-1994,3-1995,3-1996,3-1997,3-1998,3-1999,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,Agricultural Production Foodgrains,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,Agricultural Production Foodgrains Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.30942,109.8734,110.57622,120.95724,118.138577,103.954032,120.853191,131.274812,128.07,129.3686
2,Agricultural Production Foodgrains Rabi,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.05340,98.7282,106.70590,109.81780,116.327600,114.153340,123.638618,128.011441,129.06,135.0120
3,Agricultural Production Foodgrains Rice,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.13170,91.7934,93.35530,96.69290,99.182500,89.092901,95.979819,105.301100,105.24,106.2872
4,Agricultural Production Foodgrains Rice Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.23000,78.2719,80.17080,82.65940,84.908200,75.916510,80.651241,92.780700,92.37,92.0093

In [3]:
# Adjust this path to your directory containing the CSV files
df_main = pd.concat([df1, df2, df3, df4, df5], axis=0, ignore_index=True)

In [4]:
df_main.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),Crop,Production 2006-07,Production 2007-08,Production 2008-09,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55,9.83,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARHAR,Karnataka,10593.15,16528.68,2172.46,7.47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARHAR,Gujarat,13468.82,19551.90,1898.30,9.59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54,6.42,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80,8.72,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.set_option('display.max_columns', None)
df_main  # This will display the entire DataFrame with all columns in a Jupyter Notebook

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),Crop,Production 2006-07,Production 2007-08,Production 2008-09,Production 2009-10,Production 2010-11,Area 2006-07,Area 2007-08,Area 2008-09,Area 2009-10,Area 2010-11,Yield 2006-07,Yield 2007-08,Yield 2008-09,Yield 2009-10,Yield 2010-11,Variety,Season/ duration in days,Recommended Zone,Unnamed: 4,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,Particulars,Frequency,Unit,3-1993,3-1994,3-1995,3-1996,3-1997,3-1998,3-1999,3-2000,3-2001,3-2002,3-2003,3-2004,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55,9.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARHAR,Karnataka,10593.15,16528.68,2172.46,7.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARHAR,Gujarat,13468.82,19551.90,1898.30,9.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54,6.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80,8.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agricultural Production Foodgrains Coarse Cere...,"Annual, Ending mar Of Each Year",kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1224.0,778.0,669.0,807.0,1015.0,1031.0,541.0,1051.0,1080.0,1156.0,NaN
620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agricultural Production Foodgrains Coarse Cere...,"Annual, Ending mar Of Each Year",kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1095.0,1054.0,985.0,1951.0,1943.0,2424.0,2516.0,2476.0,3625.0,2357.0,NaN
621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agricultural Production Foodgrains Coarse Cere...,"Annual, Ending mar Of Each Year",kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1366.0,1577.0,1383.0,1404.0,1454.0,1550.0,1541.0,1563.0,1759.0,1845.0,NaN
622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agricultural Production Foodgrains Coarse Cere...,"Annual, Ending mar Of Each Year",kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1274.0,1222.0,1188.0,1318.0,1319.0,1280.0,1160.0,1328.0,1320.0,1360.0,NaN
623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agricultural Production Foodgrains Coarse Cere...,"Annual, Ending mar Of Each Year",kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1905.0,2443.0,2132.0,2589.0,2729.0,3319.0,3531.0,3700.0,3455.0,5250.0,NaN

In [8]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Crop                                   139 non-null    object
 1   State                                  49 non-null     object
 2   Cost of Cultivation (`/Hectare) A2+FL  49 non-null     float64
 3   Cost of Cultivation (`/Hectare) C2     49 non-null     float64
 4   Cost of Production (`/Quintal) C2      49 non-null     float64
 5   Yield (Quintal/ Hectare)               49 non-null     float64
 6   Crop                                   55 non-null     object
 7   Production 2006-07                     55 non-null     float64
 8   Production 2007-08                     55 non-null     float64
 9   Production 2008-09                     55 non-null     float64
 10  Production 2009-10                     55 non-null     float64
 11  Production 2010-11                     55 non-null     float64
 12  Area 2006-07                           55 non-null     float64
 13  Area 2007-08                           55 non-null     float64
 14  Area 2008-09                           55 non-null     float64
 15  Area 2009-10                           55 non-null     float64
 16  Area 2010-11                           55 non-null     float64
 17  Yield 2006-07                          55 non-null     float64
 18  Yield 2007-08                          55 non-null     float64
 19  Yield 2008-09                          55 non-null     float64
 20  Yield 2009-10                          55 non-null     float64
 21  Yield 2010-11                          55 non-null     float64
 22  Variety                                78 non-null     object
 23  Season/ duration in days               50 non-null     object
 24  Recommended Zone                       77 non-null     object
 25  Unnamed: 4                             0 non-null      float64
 26  2004-05                                12 non-null     float64
 27  2005-06                                12 non-null     float64
 28  2006-07                                12 non-null     float64
 29  2007-08                                12 non-null     float64
 30  2008-09                                12 non-null     float64
 31  2009-10                                12 non-null     float64
 32  2010-11                                12 non-null     float64
 33  2011-12                                12 non-null     float64
 34  Particulars                            429 non-null    object
 35  Frequency                              429 non-null    object
 36  Unit                                   429 non-null    object
 37   3-1993                                3 non-null      float64
 38   3-1994                                4 non-null      float64
 39   3-1995                                4 non-null      float64
 40   3-1996                                6 non-null      float64
 41   3-1997                                10 non-null     float64
 42   3-1998                                10 non-null     float64
 43   3-1999                                11 non-null     float64
 44   3-2000                                20 non-null     float64
 45   3-2001                                22 non-null     float64
 46   3-2002                                36 non-null     float64
 47   3-2003                                128 non-null    float64
 48   3-2004                                361 non-null    float64
 49   3-2005                                425 non-null    float64
 50   3-2006                                423 non-null    float64
 51   3-2007                                418 non-null    float64
 52   3-2008                                417 non-null    float64
 53   3-2009                                418 non-null    float64
 54   3-2010                                403 non-null    float64
 55   3-2011                                404 non-null    float64
 56   3-2012                                388 non-null    float64
 57   3-2013                                298 non-null    float64
 58   3-2014                                63 non-null     float64
dtypes: float64(50), object(9)
memory usage: 287.8+ KB

In [7]:
df_main.describe()

,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),Production 2006-07,Production 2007-08,Production 2008-09,Production 2009-10,Production 2010-11,Area 2006-07,Area 2007-08,Area 2008-09,Area 2009-10,Area 2010-11,Yield 2006-07,Yield 2007-08,Yield 2008-09,Yield 2009-10,Yield 2010-11,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.0,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,20363.537347,31364.666735,1620.537755,98.086735,168.698182,182.629091,179.952727,173.749091,210.181818,116.025455,118.403636,120.530909,118.203636,127.216364,146.829091,153.774545,149.476364,147.427273,164.570909,100.0,99.750000,102.000000,104.750000,106.416667,114.916667,121.916667,120.750000
std,6745.674950,9995.964348,549.639944,122.012725,94.703956,105.344579,98.875125,97.198482,122.683507,20.043626,21.783002,23.456716,23.729183,28.934399,76.414105,80.849427,74.607749,75.953737,84.902815,0.0,1.583175,3.008579,2.610694,2.681472,3.786109,2.715853,3.047942
min,5483.540000,7868.640000,85.790000,1.320000,53.900000,54.400000,50.000000,42.900000,42.100000,47.900000,47.400000,43.600000,37.500000,36.100000,86.000000,75.300000,72.700000,80.700000,80.800000,100.0,86.000000,85.000000,87.000000,80.000000,81.000000,99.000000,102.000000
25%,20363.537347,31364.666735,1620.537755,98.086735,168.698182,182.629091,179.952727,173.749091,210.181818,116.025455,118.403636,120.530909,118.203636,127.216364,146.829091,153.774545,149.476364,147.427273,164.570909,100.0,99.750000,102.000000,104.750000,106.416667,114.916667,121.916667,120.750000
50%,20363.537347,31364.666735,1620.537755,98.086735,168.698182,182.629091,179.952727,173.749091,210.181818,116.025455,118.403636,120.530909,118.203636,127.216364,146.829091,153.774545,149.476364,147.427273,164.570909,100.0,99.750000,102.000000,104.750000,106.416667,114.916667,121.916667,120.750000
75%,20363.537347,31364.666735,1620.537755,98.086735,168.698182,182.629091,179.952727,173.749091,210.181818,116.025455,118.403636,120.530909,118.203636,127.216364,146.829091,153.774545,149.476364,147.427273,164.570909,100.0,99.750000,102.000000,104.750000,106.416667,114.916667,121.916667,120.750000
max,66335.060000,91442.630000,5777.480000,1015.450000,1427.700000,1571.500000,1463.000000,1430.300000,1790.600000,222.700000,241.600000,254.500000,260.300000,314.700000,1176.600000,1247.700000,1156.800000,1172.100000,1310.800000,100.0,109.000000,134.000000,124.000000,124.000000,146.000000,138.000000,140.000000

In [6]:
df_main.to_csv('combined_data.csv', index=False)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

# Step 1: Load the data
new_df = pd.read_csv('cleaned_agriculture_data.csv')

# Step 2: Data Cleaning
# Ensure all numeric columns are actually numeric
for column in new_df.columns:
    if new_df[column].dtype == 'object':
        try:
            new_df[column] = new_df[column].astype(float)
        except ValueError:
            pass  # Ignore conversion errors, those columns will be treated as categorical

# Handle missing values
new_df.dropna(axis=1, thresh=int(0.5 * len(new_df)), inplace=True)  # Drop columns with more than 50% missing values
new_df.fillna(new_df.mean(numeric_only=True), inplace=True)  # Fill remaining numeric missing values with mean

# Step 3: Encoding categorical features
label_encoders = {}
for column in new_df.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    new_df[column] = label_encoders[column].fit_transform(new_df[column])

# Step 4: Feature Selection
features = new_df.drop(['Production 2010-11'], axis=1)  # Drop the target column from features
target = new_df['Production 2010-11']  # Target variable (adjust this based on your target year)

# Step 5: Split the data
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Step 6: Model Building
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Step 7: Predictions and Evaluation
predictions = model.predict(X_test)
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

Mean Squared Error: 447.2157713886419
R² Score: 0.7939475099707047

In [2]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Crop                                   195 non-null    int32
 1   State                                  195 non-null    int32
 2   Cost of Cultivation (`/Hectare) A2+FL  195 non-null    float64
 3   Cost of Cultivation (`/Hectare) C2     195 non-null    float64
 4   Cost of Production (`/Quintal) C2      195 non-null    float64
 5   Yield (Quintal/ Hectare)               195 non-null    float64
 6   Crop                                   195 non-null    int32
 7   Production 2006-07                     195 non-null    float64
 8   Production 2007-08                     195 non-null    float64
 9   Production 2008-09                     195 non-null    float64
 10  Production 2009-10                     195 non-null    float64
 11  Production 2010-11                     195 non-null    float64
 12  Area 2006-07                           195 non-null    float64
 13  Area 2007-08                           195 non-null    float64
 14  Area 2008-09                           195 non-null    float64
 15  Area 2009-10                           195 non-null    float64
 16  Area 2010-11                           195 non-null    float64
 17  Yield 2006-07                          195 non-null    float64
 18  Yield 2007-08                          195 non-null    float64
 19  Yield 2008-09                          195 non-null    float64
 20  Yield 2009-10                          195 non-null    float64
 21  Yield 2010-11                          195 non-null    float64
 22  Variety                                195 non-null    int32
 23  Season/ duration in days               195 non-null    int32
 24  Recommended Zone                       195 non-null    int32
 25  2004-05                                195 non-null    float64
 26  2005-06                                195 non-null    float64
 27  2006-07                                195 non-null    float64
 28  2007-08                                195 non-null    float64
 29  2008-09                                195 non-null    float64
 30  2009-10                                195 non-null    float64
 31  2010-11                                195 non-null    float64
 32  2011-12                                195 non-null    float64
dtypes: float64(27), int32(6)
memory usage: 45.8 KB

In [9]:
feature_importances = pd.Series(model.feature_importances_, index=features.columns).sort_values(ascending=False)
print(feature_importances)

Production 2007-08                       2.725246e-01
Production 2008-09                       1.266179e-01
Production 2009-10                       1.090358e-01
Yield 2008-09                            1.053455e-01
Yield 2006-07                            7.100096e-02
Production 2006-07                       6.915952e-02
Yield 2009-10                            6.028456e-02
Yield 2010-11                            3.873710e-02
Area 2010-11                             3.409471e-02
Yield 2007-08                            3.098299e-02
Area 2007-08                             2.344023e-02
Area 2008-09                             2.343818e-02
Area 2009-10                             2.011884e-02
Area 2006-07                             1.256017e-02
Crop                                     2.658822e-03
2009-10                                  4.165487e-16
Yield (Quintal/ Hectare)                 3.577114e-16
2005-06                                  1.061239e-16
2006-07                                  1.015646e-16
Cost of Cultivation (`/Hectare) A2+FL    3.364068e-17
Cost of Production (`/Quintal) C2        2.774489e-17
Cost of Cultivation (`/Hectare) C2       3.829067e-18
2010-11                                  2.556038e-18
2008-09                                  0.000000e+00
2007-08                                  0.000000e+00
Crop                                     0.000000e+00
2004-05                                  0.000000e+00
Recommended Zone                         0.000000e+00
Season/ duration in days                 0.000000e+00
Variety                                  0.000000e+00
State                                    0.000000e+00
2011-12                                  0.000000e+00
dtype: float64

In [3]:
import pandas as pd

# Assuming 'model' is your trained model and 'features' is your feature DataFrame
feature_importances = pd.Series(model.feature_importances_, index=features.columns).sort_values(ascending=False)
print("Feature Importances:")
print(feature_importances)

Feature Importances:
Production 2007-08                       2.725246e-01
Production 2008-09                       1.266179e-01
Production 2009-10                       1.090358e-01
Yield 2008-09                            1.053455e-01
Yield 2006-07                            7.100096e-02
Production 2006-07                       6.915952e-02
Yield 2009-10                            6.028456e-02
Yield 2010-11                            3.873710e-02
Area 2010-11                             3.409471e-02
Yield 2007-08                            3.098299e-02
Area 2007-08                             2.344023e-02
Area 2008-09                             2.343818e-02
Area 2009-10                             2.011884e-02
Area 2006-07                             1.256017e-02
Crop                                     2.658822e-03
2009-10                                  4.165487e-16
Yield (Quintal/ Hectare)                 3.577114e-16
2005-06                                  1.061239e-16
2006-07                                  1.015646e-16
Cost of Cultivation (`/Hectare) A2+FL    3.364068e-17
Cost of Production (`/Quintal) C2        2.774489e-17
Cost of Cultivation (`/Hectare) C2       3.829067e-18
2010-11                                  2.556038e-18
2008-09                                  0.000000e+00
2007-08                                  0.000000e+00
Crop                                     0.000000e+00
2004-05                                  0.000000e+00
Recommended Zone                         0.000000e+00
Season/ duration in days                 0.000000e+00
Variety                                  0.000000e+00
State                                    0.000000e+00
2011-12                                  0.000000e+00
dtype: float64

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

# Define the model
rf = RandomForestRegressor()

# Define hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, scoring='r2', n_jobs=-1)

# Fit GridSearchCV
grid_search.fit(features, target)

# Best parameters and score
print("Best Parameters:")
print(grid_search.best_params_)
print("Best Score:")
print(grid_search.best_score_)

Best Parameters:
{'max_depth': None, 'min_samples_split': 2, 'n_estimators': 50}
Best Score:
-1.6167589963284292

In [13]:
from sklearn.model_selection import cross_val_score

# Evaluate model with cross-validation
cv_scores = cross_val_score(model, features, target, cv=5, scoring='r2')
print(f'Cross-Validation R² Scores: {cv_scores}')
print(f'Mean CV R² Score: {cv_scores.mean()}')

Cross-Validation R² Scores: [-80.           0.83008576   0.11193064 -80.         -80.        ]
Mean CV R² Score: -47.81159672161417

In [17]:
important_features = feature_importances[feature_importances > 0.01].index
print("Important Features:")
print(important_features)

# Filter dataset to include only important features
features_reduced = features[important_features]

# Re-train and evaluate model with reduced features
model.fit(features_reduced, target)

Important Features:
Index(['Production 2007-08', 'Production 2008-09', 'Production 2009-10',
       'Yield 2008-09', 'Yield 2006-07', 'Production 2006-07', 'Yield 2009-10',
       'Yield 2010-11', 'Area 2010-11', 'Yield 2007-08', 'Area 2007-08',
       'Area 2008-09', 'Area 2009-10', 'Area 2006-07'],
      dtype='object')

RandomForestRegressor(random_state=42)

In [18]:
# Ensure you are using the same feature names during training and prediction
# Check the columns in your training and prediction datasets
print("Training features columns:", features.columns)
print("Prediction features columns:", features_reduced.columns)

# Re-align features if needed
features_reduced = features[important_features]

# Update the model with the new feature set
model.fit(features_reduced, target)

Training features columns: Index(['Crop', 'State', 'Cost of Cultivation (`/Hectare) A2+FL',
       'Cost of Cultivation (`/Hectare) C2',
       'Cost of Production (`/Quintal) C2', 'Yield (Quintal/ Hectare)', 'Crop',
       'Production 2006-07', 'Production 2007-08', 'Production 2008-09',
       'Production 2009-10', 'Area 2006-07', 'Area 2007-08', 'Area 2008-09',
       'Area 2009-10', 'Area 2010-11', 'Yield 2006-07', 'Yield 2007-08',
       'Yield 2008-09', 'Yield 2009-10', 'Yield 2010-11', 'Variety',
       'Season/ duration in days', 'Recommended Zone', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12'],
      dtype='object')
Prediction features columns: Index(['Production 2007-08', 'Production 2008-09', 'Production 2009-10',
       'Yield 2008-09', 'Yield 2006-07', 'Production 2006-07', 'Yield 2009-10',
       'Yield 2010-11', 'Area 2010-11', 'Yield 2007-08', 'Area 2007-08',
       'Area 2008-09', 'Area 2009-10', 'Area 2006-07'],
      dtype='object')

RandomForestRegressor(random_state=42)

In [19]:
from sklearn.ensemble import RandomForestRegressor

# Initialize model with best parameters
best_rf_model = RandomForestRegressor(n_estimators=50, min_samples_split=10, max_depth=20, random_state=42)

# Train the model
best_rf_model.fit(features_reduced, target)

# Evaluate the model
y_pred = best_rf_model.predict(features_reduced)
print("Training Set R² Score:", best_rf_model.score(features_reduced, target))

Training Set R² Score: 0.8880228824676593

In [20]:
from sklearn.model_selection import cross_val_score, KFold

# Initialize KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Cross-validation
cv_scores = cross_val_score(best_rf_model, features_reduced, target, cv=kf, scoring='r2')
print(f'Cross-Validation R² Scores: {cv_scores}')
print(f'Mean CV R² Score: {cv_scores.mean()}')

Cross-Validation R² Scores: [0.73994747 0.71238258 0.9054764  0.67235255 0.06839246]
Mean CV R² Score: 0.6197102939524403

In [21]:
from sklearn.model_selection import cross_val_score, KFold

# Initialize KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Cross-validation
cv_scores = cross_val_score(best_rf_model, features_reduced, target, cv=kf, scoring='r2')
print(f'Cross-Validation R² Scores: {cv_scores}')
print(f'Mean CV R² Score: {cv_scores.mean()}')

Cross-Validation R² Scores: [0.73994747 0.71238258 0.9054764  0.67235255 0.06839246]
Mean CV R² Score: 0.6197102939524403

In [22]:
# Example of cleaning feature names
features.columns = features.columns.str.strip()  # Remove leading/trailing spaces
features_reduced.columns = features_reduced.columns.str.strip()

# Verify columns again
print("Cleaned Training features columns:", features.columns)
print("Cleaned Prediction features columns:", features_reduced.columns)

Cleaned Training features columns: Index(['Crop', 'State', 'Cost of Cultivation (`/Hectare) A2+FL',
       'Cost of Cultivation (`/Hectare) C2',
       'Cost of Production (`/Quintal) C2', 'Yield (Quintal/ Hectare)', 'Crop',
       'Production 2006-07', 'Production 2007-08', 'Production 2008-09',
       'Production 2009-10', 'Area 2006-07', 'Area 2007-08', 'Area 2008-09',
       'Area 2009-10', 'Area 2010-11', 'Yield 2006-07', 'Yield 2007-08',
       'Yield 2008-09', 'Yield 2009-10', 'Yield 2010-11', 'Variety',
       'Season/ duration in days', 'Recommended Zone', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12'],
      dtype='object')
Cleaned Prediction features columns: Index(['Production 2007-08', 'Production 2008-09', 'Production 2009-10',
       'Yield 2008-09', 'Yield 2006-07', 'Production 2006-07', 'Yield 2009-10',
       'Yield 2010-11', 'Area 2010-11', 'Yield 2007-08', 'Area 2007-08',
       'Area 2008-09', 'Area 2009-10', 'Area 2006-07'],
      dtype='object')

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# Initialize and train Gradient Boosting Model
gbm = GradientBoostingRegressor()
gbm.fit(features_reduced, target)

# Initialize and train XGBoost Model
xgb_model = xgb.XGBRegressor()
xgb_model.fit(features_reduced, target)

# Predictions
gbm_preds = gbm.predict(features_reduced)
xgb_preds = xgb_model.predict(features_reduced)

# Calculate and compare MSE
print("Gradient Boosting Model MSE:", mean_squared_error(target, gbm_preds))
print("XGBoost Model MSE:", mean_squared_error(target, xgb_preds))

Gradient Boosting Model MSE: 0.5409729578961747
XGBoost Model MSE: 1.7740393271787428e-07

In [30]:
import joblib

# Save the best model
joblib.dump(best_rf_model, 'best_rf_model.pkl')

# Load the model for future use
loaded_model = joblib.load('best_rf_model.pkl')

# Example prediction with the loaded model
sample_prediction = loaded_model.predict(features_reduced.sample(1))
print("Sample Prediction:", sample_prediction)

Sample Prediction: [210.18181818]